<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">

        <activity
            android:name=".Activity.AdActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SessionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VeCuaToi"
            android:exported="false" />
        <activity
            android:name=".Activity.PhimDaXem"
            android:exported="false" />
        <activity
            android:name=".Activity.ChinhSach"
            android:exported="false" />
        <!--Cac activity-->
        <!--Admin-->
        <activity
            android:name=".Activity.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyBacThanhVienActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyNguoiDungActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyPhimActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyPhimDetailActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyPhongActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyQuangCaoActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyQuangCaoDetailActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLyRapActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuanLySuatActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.ThongKeActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Activity.Register"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity android:name=".Activity.PaymentActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="demozpdk" android:host="app"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activity.SeatSelectionActivity"/>
        <activity android:name=".Activity.AdDetailsActivity" />
        <activity android:name=".Activity.MovieDetailsActivity" />
        <activity android:name=".Activity.ScheduleActivity"/>
        <activity
            android:name=".Activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>